<div class="container">
    <!-- Nav tabs -->
    <tabset>
        <tab>
            <ng-template tabHeading><i class="icon-list"></i> 基本信息 &nbsp;<span
                    class="badge badge-success">新增</span></ng-template>
            <div class="container">
                <form #orderForm="ngForm">
                    <input type="hidden" class="form-control form-control-sm" name="id"
                           [(ngModel)]="currSurvey.id"
                           placeholder="">

                    <div class="container">
                        <div class="row">
                            <div class="form-group col-12">
                                <label class="col-form-label col-form-label-sm">标题:</label>

                                <input class="form-control form-control-sm" name="title"
                                       [(ngModel)]="currSurvey.title" required maxlength="20"
                                       placeholder="" #title="ngModel">
                                <div [hidden]="title.valid || title.pristine" class="form-control-sm" style="color:red">
                                    标题必填
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-4">
                                <label class="col-form-label col-form-label-sm">现价(元):</label>
                                <input class="form-control form-control-sm" name="price"
                                       [(ngModel)]="currSurvey.price"
                                       placeholder="">
                            </div>
                            <div class="form-group col-4">
                                <label class="col-form-label col-form-label-sm">原价(元):</label>
                                <input class="form-control form-control-sm" name="price"
                                       [(ngModel)]="currSurvey.orgPrice"
                                       placeholder="">
                            </div>
                            <div class="form-group col-4">
                                <label class="col-form-label col-form-label-sm">问卷分类:</label>
                                <select [(ngModel)]="currSurvey.classId" name="classId"
                                        class="form-control form-control-sm">
                                    <option value="">--无--</option>
                                    <option *ngFor="let syClass of surveyClasses" value="{{syClass.id}}">
                                        {{syClass.className}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-4">
                                <label class="col-form-label col-form-label-sm">题目数量:</label>
                                <input class="form-control form-control-sm" name="question_cnt"
                                       [(ngModel)]="currSurvey.questionCnt"
                                       placeholder="">
                            </div>
                            <div class="form-group col-4">
                                <label class="col-form-label col-form-label-sm">预计完成时长(分钟):</label>
                                <input type="text" class="form-control form-control-sm" name="order_number"
                                       [(ngModel)]="currSurvey.estimateMinutes" placeholder="">
                            </div>
                            <div class="form-group col-4">
                                <label class="col-form-label col-form-label-sm">已测试数量:</label>
                                <input class="form-control form-control-sm" name="testedCnt"
                                       [(ngModel)]="currSurvey.testedCnt"
                                       placeholder="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-4">
                                <label class="col-form-label col-form-label-sm">问卷类型:</label>
                                <select name="typeId"
                                        class="form-control form-control-sm">
                                    <option value=""></option>
                                    <option value="1">题目🈯️选项设置跳转，无跳转后结束测试</option>
                                    <option value="2">根据序号递增，自动跳转</option>
                                </select>
                            </div>
                            <div class="form-group col-4">
                                <label class="col-form-label col-form-label-sm">是否区分性别:</label>
                                <select [(ngModel)]="currSurvey.isNeedSex" name="isNeedSex"
                                        class="form-control form-control-sm">
                                    <option value="1">是</option>
                                    <option value="0">否</option>

                                </select>
                            </div>
                            <div class="form-group col-4">
                                <label class="col-form-label col-form-label-sm">是否启用:</label>
                                <select [(ngModel)]="currSurvey.status" name="status"
                                        class="form-control form-control-sm">
                                    <option value="1">启用</option>
                                    <option value="0">禁用</option>

                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-4">
                                <label class="col-form-label col-form-label-sm">是否热销:</label>
                                <select [(ngModel)]="currSurvey.isHot" name="isHot"
                                        class="form-control form-control-sm">
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </div>
                            <div class="form-group col-4">
                                <label class="col-form-label col-form-label-sm">是否最新:</label>
                                <select [(ngModel)]="currSurvey.isNew" name="isNew"
                                        class="form-control form-control-sm">
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </div>
                            <div class="form-group col-4">
                                <label class="col-form-label col-form-label-sm">是否精选:</label>
                                <select [(ngModel)]="currSurvey.isSuper" name="isSuper"
                                        class="form-control form-control-sm">
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-4">
                                <label class="col-form-label col-form-label-sm">图片(用于显示在列表):</label>
                                <app-img-upload (onFileUpload)="fileUploaded($event)"
                                                [img]="currSurvey.image"></app-img-upload>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm">问卷详细描述／介绍:</label>
                            <!--<textarea rows="7" class="form-control form-control-sm" name="description"-->
                            <!--[(ngModel)]="currSurvey.description"-->
                            <!--placeholder="">-->.


                            <!--</textarea>-->
                            <div [froalaEditor]="{imageUploadURL: 'http://quiz.ronmob.com/qz/file/upload',language:'zh_cn'}"
                                 [(ngModel)]="currSurvey.description" name="description"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm">预览：</label>
                            <div class="container" [innerHTML]="getHtml()"></div>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="saveSurvey()"
                                [disabled]="!orderForm.form.valid">提交
                        </button>
                    </div>
                </form>
            </div>
        </tab>
        <!--
        <tab>
            <ng-template tabHeading>
                <i class="icon-calculator"></i> 测评维度设置
                <span class="badge badge-pill badge-danger">29</span>
            </ng-template>
        </tab>
        -->
        <tab>
            <ng-template tabHeading>
                <i class="icon-pie-chart"></i> 高级设置
            </ng-template>
            4. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
        </tab>
    </tabset>
</div><!--/.col-->