<button class="btn btn-primary" (click)="addSurveyDimension(); dimensionModal.show();">新增</button>
<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <th>维度名称</th>
                <th>父维度</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dimension of surveyDimensionList; let i = index; let last = last">
                <td>{{dimension.seq}}</td>
                <td>{{dimension.dimensionName}}</td>
                <td>
                    <select class="form-control form-control-sm" disabled [(ngModel)]="dimension.parentId"
                            name="{{i}}_parentId">
                        <option *ngFor="let pDimension of getFirstLevelDimension();let j= index "
                                id="{{i}}_{{j}}_option"
                                value="{{pDimension.id}}">
                            {{pDimension.dimensionName}}
                        </option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-link"
                            (click)="selectDimensionForEdit(dimension.id); dimensionModal.show();">
                        <i class="fa fa-edit"></i>编辑
                    </button>
                    <button class="btn btn-link"
                            routerLink="/survey/{{surveyId}}/dimension/{{dimension.id}}/scoreText/list">
                        <i class="fa fa-edit"></i>设置得分卡
                    </button>
                    <button class="btn btn-link" (click)="removeSurveyDimension(dimension.id)">
                        <i class="fa fa-remove"></i>删除
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--  新增编辑对话框  -->
<div class="modal fade" bsModal #dimensionModal="bs-modal" [config]="{backdrop: 'true'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{modalTitle}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="dimensionModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #orderForm="ngForm">
                    <input type="hidden" class="form-control form-control-sm" name="id"
                           [(ngModel)]="selectedSurveyDimension.id"
                           placeholder="">
                    <input type="hidden" class="form-control form-control-sm" name="surveyId"
                           [(ngModel)]="selectedSurveyDimension.surveyId"
                           placeholder="">
                    <div class="container">
                        <div class="row">
                            <div class="form-group col-4">
                                <label class="col-form-label col-form-label-sm">维度名称:</label>
                                <input class="form-control form-control-sm" name="title" required
                                       [(ngModel)]="selectedSurveyDimension.dimensionName" #title="ngModel"
                                       placeholder="">
                            </div>
                            <div class="form-group col-4">
                                <label class="col-form-label col-form-label-sm">序号:</label>
                                <input class="form-control form-control-sm" name="seq"
                                       [(ngModel)]="selectedSurveyDimension.seq" placeholder="">
                            </div>
                            <div class="form-group col-4">
                                <label class="col-form-label col-form-label-sm">父维度:</label>
                                <select class="form-control form-control-sm" name="m_parentId"
                                        [(ngModel)]="selectedSurveyDimension.parentId" placeholder="">
                                    <option>-</option>
                                    <option *ngFor="let dim of getFirstLevelDimension(selectedSurveyDimension.id)"
                                            value="{{dim.id}}">
                                        {{dim.dimensionName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="!(selectedSurveyDimension.parentId>0)">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="col-form-label col-form-label-sm">得分计算方式:</label>
                                    <select class="form-control form-control-sm" name="m_parentId"
                                            [(ngModel)]="selectedSurveyDimension.autoCalculateType" placeholder="">
                                        <option value="">-</option>
                                        <option value="0">与指定（代理子维度）值相同</option>
                                        <option value="1">各个子维度之和</option>
                                        <option value="2">各个子维度的平均值</option>
                                        <option value="3">各个子维度的最小值</option>
                                        <option value="4">各个子维度的最大值</option>
                                    </select>
                                </div>
                                <div class="form-group col-6">
                                    <label class="col-form-label col-form-label-sm">代理子维度:</label>
                                    <select class="form-control form-control-sm" name="m_parentId"
                                            [(ngModel)]="selectedSurveyDimension.proxySubDimensionId" placeholder="">
                                        <option value="">-</option>
                                        <option *ngFor="let dim of getSubDimensionList(selectedSurveyDimension.id)"
                                                value="{{dim.id}}">
                                            {{dim.dimensionName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-4">
                                    <label class="col-form-label col-form-label-sm">是否显示图表:</label>
                                    <select name="template_isShowSumChart" class="form-control form-control-sm"
                                            [(ngModel)]="selectedSurveyDimensionExtra.isShowSumChart">
                                        <option>-</option>
                                        <option value="1">显示</option>
                                        <option value="2">不显示</option>
                                    </select>
                                </div>
                                <div class="form-group col-4">
                                    <label class="col-form-label col-form-label-sm">图表类型:</label>
                                    <select class="form-control form-control-sm" name="template_sumChartType"
                                            [(ngModel)]="selectedSurveyDimensionExtra.sumChartType">
                                        <option>自动选择</option>
                                        <option value="1">饼图</option>
                                        <option value="2">柱图</option>
                                    </select>
                                </div>
                                <div class="form-group col-4">
                                    <label class="col-form-label col-form-label-sm">最大分值:</label>
                                    <input class="form-control form-control-sm" name="template_dimensionMaxValue"
                                           [(ngModel)]="selectedSurveyDimensionExtra.dimensionMaxValue">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-12">
                                    <label class="col-form-label col-form-label-sm">图表标题（作为图表的标题显示）:</label>
                                    <input class="form-control form-control-sm" name="template_sumChartTitle"
                                           [(ngModel)]="selectedSurveyDimensionExtra.sumChartTitle">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12">
                                    <label class="col-form-label col-form-label-sm">图表注脚（图表的注脚文字）:</label>
                                    <input class="form-control form-control-sm" name="template_sumChartFootScript"
                                           [(ngModel)]="selectedSurveyDimensionExtra.sumChartFootScript">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-4">
                                    <label class="col-form-label col-form-label-sm">是否显示子维度图表:</label>
                                    <select name="template_isShowSubChart" class="form-control form-control-sm"
                                            [(ngModel)]="selectedSurveyDimensionExtra.isShowSubChart">
                                        <option>-</option>
                                        <option value="1">显示</option>
                                        <option value="2">不显示</option>
                                    </select>
                                </div>
                                <div class="form-group col-4">
                                    <label class="col-form-label col-form-label-sm">子维度图表类型:</label>
                                    <select class="form-control form-control-sm" name="template_subChartType"
                                            [(ngModel)]="selectedSurveyDimensionExtra.subChartType">
                                        <option>-</option>
                                        <option value="1">柱图</option>
                                        <option value="2">雷达图</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-4">
                                    <label class="col-form-label col-form-label-sm">子维度图表显示维度数量:</label>
                                    <input class="form-control form-control-sm" name="template_multiyDimensionLimitCnt"
                                           [(ngModel)]="selectedSurveyDimensionExtra.subDimensionLimitCnt">
                                </div>
                                <div class="form-group col-4">
                                    <label class="col-form-label col-form-label-sm">子维度数量限制方式:</label>
                                    <select class="form-control form-control-sm" name="template_subDimensionLimitType"
                                            [(ngModel)]="selectedSurveyDimensionExtra.subDimensionLimitType">
                                        <option>-</option>
                                        <option value="1">得分最高</option>
                                        <option value="2">得分最低</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12">
                                    <label class="col-form-label col-form-label-sm">子维度图表标题（作为图表的标题显示）:</label>
                                    <input class="form-control form-control-sm" name="template_subChartTitle"
                                           [(ngModel)]="selectedSurveyDimensionExtra.subChartTitle">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12">
                                    <label class="col-form-label col-form-label-sm">子维度图表注脚（图表的注脚文字）:</label>
                                    <input class="form-control form-control-sm" name="template_subChartFootScript"
                                           [(ngModel)]="selectedSurveyDimensionExtra.subChartFootScript">
                                </div>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm">维度详细描述／介绍:</label>
                            <div [froalaEditor]="{imageUploadURL: 'http://quiz.ronmob.com/qz/file/upload',language:'zh_cn'}"
                                 [(ngModel)]="selectedSurveyDimension.description" name="m_description"></div>
                        </div>
                        <button class="btn btn-primary"
                                (click)="submitSurveyDimension();dimensionModal.hide();"
                                [disabled]="!orderForm.form.valid">提交
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
