<div class="form-inline">
    <label class="sr-only" for="inlineFormInput">Name</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="searchCondition.title"
           id="inlineFormInput" placeholder="标题">

    <div class="form-group mb-2 mr-sm-2 mb-sm-0">
        <select [(ngModel)]="searchCondition.class_id" class="form-control">
            <option value="">--全部--</option>
            <option *ngFor="let syClass of surveyClasses" value="{{syClass.id}}">
                {{syClass.class_name}}
            </option>
        </select>
    </div>

    <div class="form-group mb-2 mr-sm-2 mb-sm-0">
        <select [(ngModel)]="searchCondition.status" class="form-control">
            <option value="">--全部--</option>
            <option value="1">启用</option>
            <option value="0">禁用</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary" (click)="search();">查询
    </button>&nbsp;
    <button type="submit" class="btn btn-primary" routerLink="/survey/create">新增调查
    </button>

</div>
<br/>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>编号</th>
            <th>标题</th>
            <th>描述</th>
            <th>题目数量</th>
            <th>估计时长</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let survey of surveys">
            <td>{{survey.id}}</td>
            <td>{{survey.title}}</td>
            <td>{{survey.description == null? "" : survey.description.substr(0,10)}}...</td>
            <td>{{survey.questionCnt}}</td>
            <td>{{survey.estimateMinutes}}</td>
            <td>
                <button class="btn btn-link" routerLink="/survey/{{survey.id}}/edit">
                    <i class="fa fa-edit"></i>基础信息
                </button>&nbsp;
                <button class="btn btn-link" routerLink="/survey/{{survey.id}}/dimension/list">
                    <i class="fa fa-cubes"></i>维度设置
                </button>&nbsp;
                <button class="btn btn-link" routerLink="/survey/{{survey.id}}/questions">
                    <i class="fa fa-list-ol"></i>题目管理
                </button>&nbsp;
            </td>
        </tr>
        </tbody>
    </table>
    <pagination [totalItems]="pageData.totalCount" [(ngModel)]="pageData.pageNO" [maxSize]="9"
                class="justify-content-start"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                (pageChanged)="pageChanged($event)"
                [boundaryLinks]="true" [rotate]="true" (numPages)="pageData.pageNO = $event"></pagination>
</div>